body {
  max-width: max-content;
  margin: auto;
}

header{
  width: 100%;
  text-align: center;
  color: #73ad21;
  outline: darkgreen;
  outline-width: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-size: -webkit-xxx-large;
  border-color: black;
  border-width: 10px;
}

header h2{
  margin-top: 15px;
}

#newGameModal {
  width: 670px;
  height: 430px;
  align: center;
  text-align: center;
  border-style: solid;
  background: #90ee90;
  margin-top: 50px;
  border-radius: 25px;
}

#newGameModal .header {
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: -webkit-xxx-large;
}

#newGameModal .content {
  margin-bottom: 18px;
}

#newGameModal .content label {
  font-size: -webkit-xxx-large;
}

#boardSize {
  font-size: -webkit-xxx-large;
  width: 50px;
  text-align: center;
  border-style: solid;
  border-color: green;
  border-radius: 25px;
  background: #add8e6;
}

#create {
  font-size: xxx-large;
  font-style: Arial;
  text-align: center;
  border-style: solid;
  border-color: green;
  border-width: 6px;
  border-radius: 25px;
  background: #73ad21;
}

#board {
  margin-top: 100px;
  border-style: solid;
  align: center;
  text-align: center;
}

.cell {
  width: 150px;
  height: 90px;
  border-style: solid;
  text-align: center;
  font-size: -webkit-xxx-large;
  font-weight: bold;
}
